@{
	ViewData["Title"] = "Collaboration";
}

<div class="full-container">
	<div class="container-fluid bg-white">
		<div class="container mt-4">
			<h2 class="text-center font-poppins mb-4">Life at Endorsin</h2>
			<div class="container">
				<div id="life-endorsin" class="row align-items-center">
					<div class="col">
						<p class="font-montserrat fs-5">Kami membuka peluang sangat lebar untuk Anda yang tertarik mengembagkan karier dengan bergabung kedalam Endorsin. Dengan bantuan Anda, mari jadikan Endorsin sebagai digital marketing terbaik untuk bisnis UMKM di Indonesia. </p>
						<br/>
						<img class="float-start px-4" src="/assets/icons/mail.png"/>
						<p class="font-montserrat fs-5">endorsin@hrd.co.id</p>
						<br/>
						<img class="float-start px-4" src="/assets/icons/phone.png"/>
						<p class="font-montserrat fs-5">+62 878 1971 7584</p>
						<br/>
						<img class="float-start px-4" src="/assets/icons/instagram.png"/>
						<p class="font-montserrat fs-5">endorsin_indonesia</p>
						
					</div>
					<div class="col">
						<img class="img-fluid" src="/assets/vecteezy_brainstorming-process-concept-with-team-meeting_.jpg"/>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container p-4">
		<h2 class="font-poppins text-center">Be Our Partner</h2>
		<p class="font-montserrat text-center">Misi kami akan sulit tercapai tanpa bantuan kerja sama dari Anda. Jadilah partner kami dan bersama-sama kita majukan UMKM di Indonesia</p>
		<div class="container-md form-container border p-4 bg-white shadow font-montserrat">
			<form>
			  <div class="form-group mb-2">
				<label for="namaPerusahaan">Nama Perusahaan</label>
				<input type="text" class="form-control" id="namaPerusahaan" aria-describedby="namaPerusahaan" placeholder="Masukkan nama perusahaan">
				</div>
			  <div class="form-group mb-2">
				<label for="emailPerusahaan">Email Perusahaan</label>
				<input type="email" class="form-control" id="emailPerusahaan" aria-describedby="emailPerusahaan" placeholder="Masukkan email perusahaan">
			  </div>
			  <div class="form-group mb-2">
				<label for="alamatPerusahaan">Alamat</label>
				<input type="text" class="form-control" id="alamatPerusahaan" aria-describedby="alamatPerusahaan" placeholder="Masukkan alamat perusahaan">
			  </div>
			  <div class="form-group mb-2">
				<label for="deskripsiPerusahaan">Alamat</label>
				<textarea class="form-control" id="deskripsiPerusahaan" rows="3" placeholder="Deskripsikan perusahaan Anda"></textarea>
			  </div>
			  <div class="form-check mb-3">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">Saya menyetujui <a href="" class="text-primary">Syarat & Ketentuan</a> yang berlaku.</label>
			  </div>
			  <button type="submit" class="btn btn-warning font-montserrat-bold text-white">Kirim</button>
			</form>
		</div>
	</div>
	<br/>
</div>
