@{
	ViewData["Title"] = "Company";
}

<div class="form-container">
	<div class="container-md text-center p-4">
		<h2 class="font-poppins">Meet Endorsin</h2>
		<p class="font-raleway fs-5">Endorsin merupakan platform digital influencer marketing based in Surabaya, Indonesia. Kami mempunyai misi untuk meningkatkan taraf UMKM di Indonesia melalui platform promosi digital yang bekerja sama dengan para influencer.</p>
	</div>

	<div class="container">
		<div class="card mb-3">
			<img class="card-img-top" src="/assets/company.png" alt="Card image cap">
			<div class="card-body">
				<h3 class="card-title text-center fs-2 font-montserrat-bold">Endorsin Office</h3>
				<p class="card-text text-center fs-5 font-montserrat">Kampus ITS Sukolilo, Jl. Teknik Kimia, Keputih, Kec. Sukolilo, Kota SBY, Jawa Timur 60111,<br />Indonesia</p>
			</div>
		</div>
	</div>

	<div class="container-md p-4">
		<div class="row justify-content-center">
			<div class="col-sm text-center">
				<p class="font-montserrat-bold fs-4">5678</p>
				<p class="font-montserrat fs-5">Jumlah Influencer</p>
			</div>
			<div class="col-sm text-center">
				<p class="font-montserrat-bold fs-4">2067</p>
				<p class="font-montserrat fs-5">Jumlah Pelaku UMKM</p>
			</div>
			<div class="col-sm text-center">
				<p class="font-montserrat-bold fs-4">1034</p>
				<p class="font-montserrat fs-5">Promosi yang Berjalan</p>
			</div>
		</div>
	</div>

	<div class="container-fluid bg-white">
		<div class="container-md text-center p-4">
			<h2 class="font-poppins">Visi Kami</h2>
			<p class="font-montserrat fs-4">Meningkatkan produktivitan pelaku UMKM dan influencer di Inonesia</p>
			<br />
			<h2 class="font-poppins">Misi Kami</h2>
			<ul class="list-misi text-start mx-auto fs-4">
				<li class="m-2">Menyediakan platform tempat bertemunya UMKM dengan influencer</li>
				<li class="m-2">Memberikan pengalaman promosi UMKM terbaik</li>
				<li class="m-2">Memberikan kemudahan influencer untuk mendaptkan job endorsement</li>
				<li class="m-2">Menjembatani dan memberikan keamanan transaksi promosi antara UMKM dan influencer</li>
			</ul>
			</div>
		</div>
	</div>

</div>
