@media (max-width: 992px) {
    #box-steps, #box-testimonial {
        display: block;
        width: 80%;
        box-sizing: border-box;
        margin: auto;
    }

    #box-steps .col, #box-testimonial .col {
        margin-bottom: 20px;
    }

    .mx-4 {
        margin: 0px 0px;
    }
}

@media (max-width: 756px) {
    #choose-us {
        display: block;
        margin-top: 5px;
    }
    #home {
        display: block;
    }
}
