@{
	ViewData["Title"] = "Profile";
}

<div class="full-container">
	<div class="container-md p-4 text-center">
		<h2 class="font-poppins">Tentang Endorsin</h2>
		<p class="font-raleway fs-5 px-3">Endorsin merupakan platform digital influencer marketing based in Surabaya, Indonesia. Kami mempunyai misi untuk meningkatkan taraf UMKM di Indonesia melalui platform promosi digital yang bekerja sama dengan para influencer.</p>
	</div>

	<div class="container-fluid bg-white p-4">
		<div class="container">
			<h2 class="font-poppins text-center">Hubungi Kami</h2>
			<br/>
			<div class="container">
				<div id="box-profile" class="row align-items-center">
					<div class="col-md font-montserrat fs-6">
						<p>Kami senang berinteraksi dengan siapapun. Silahkan menghubungi kami apabila Anda hendak menyampaikan sesuatu, menawarkan kerja sama, atau ingin jadi bagian dari Endorsin. </p>
						<br/>
						<div class="d-block mb-4">
							<img class="float-start px-4" src="/assets/icons/home.png"/>
							<p>Kampus ITS, Keputih, Kec. Sukolilo, Kota SBY, Jawa Timur</p>
						</div>
						<div class="d-block mb-4">
							<img class="float-start px-4" src="/assets/icons/mail.png"/>
							<p>endorsin@contact.co.id</p>
						</div>
						<div class="d-block mb-4">
							<img class="float-start px-4" src="/assets/icons/phone.png"/>
							<p>+62 895 3284 94336</p>
						</div>
						<div class="d-block mb-4">
							<img class="float-start px-4" src="/assets/icons/instagram.png"/>
							<p>endorsin_indonesia</p>
						</div>
					</div>
					<div class="col-md-7">
						<img class="img-fluid" src="/assets/contact.png"/>
					</div>
				</div>
			</div>
		</div>
		<br />
	</div>
	<br />
	<br />
	<br />
</div>

