@{
	ViewData["Title"] = "Service";
}

<div class="container-fluid">
	<div class="container p-4">
		<h2 class="font-poppins text-center mb-4">Apa yang kami tawarkan</h2>
		<p class="font-raleway text-center fs-5 px-5">Endorsin sebagai platform promosi digital, menawarkan kemudahan bagi Anda para pelaku UMKM di seluruh Indonesia untuk mengenalkan bisnis Anda ke khalayak. Selain itu, Endorsin juga memfasilitasi para influencer untuk memperoleh barang/jasa untuk mereka endorse. Kami berikan jaminan keamanan kepada influencer dan UMKM selama kegiatan promosi berlangsung.</p>
	</div>

	<div class="container mb-4">
		<h2 class="font-poppins text-center mb-4">Bagi Pelaku UMKM</h2>
		<div class="container">
			<div class="row justify-content-md-center mb-3">
				<div class="col-sm-4">
					<div class="bg-white shadow p-4">
						<img class="img-fluid mx-auto d-block mb-4" src="/assets/icons/icons8-minute-96.png"/>
						<p class="font-raleway-bold text-center">Hemat Waktu Anda</p>
						<p class="font-raleway text-center">Simpan waktu berharga Anda dalam mencari influencer. Kami berikan rekomendasi influencer terbaik yang cocok dengan Anda</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="bg-white shadow p-4">
						<img class="img-fluid mx-auto d-block mb-4" src="/assets/icons/icons8-stack-of-money-96.png"/>
						<p class="font-raleway-bold text-center">Harga Transparan</p>
						<p class="font-raleway text-center">Biaya yang Anda bayarkan sesuai dengan apa yang Anda rencanakan dan tertera di dashboard Anda</p>
					</div>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col-sm-4">
					<div class="bg-white shadow p-4">
						<img class="img-fluid mx-auto d-block mb-4" src="/assets/icons/icons8-tax-96.png"/>
						<p class="font-raleway-bold text-center">Jaminan Uang Kembali</p>
						<p class="font-raleway text-center">Kami pastikan uang Anda akan kembali apabila influencer tidak menjalankan task endorsement yang telah disepakati</p>
					</div>
				</div>
				<div class="col-sm-4"><div class="bg-white shadow p-4">
						<img class="img-fluid mx-auto d-block mb-4" src="/assets/icons/icons8-lock-96.png"/>
						<p class="font-raleway-bold text-center">Aman & Nyaman</p>
						<p class="font-raleway text-center">Kami berikan rasa aman dan nyaman selama Anda bergabung dan mengembangkan bisnis Anda bersama Endorsin</p>
					</div></div>
			</div>
		</div>
	</div>

	</br>

	<div class="container">
		<h2 class="font-poppins text-center my-4">Bagi Influencer</h2>
		<div class="container">
			<div id="box-umkm-1" class="row justify-content-md-center mb-3">
				<div class="col-sm-4">
					<div class="bg-white shadow p-4">
						<img class="img-fluid mx-auto d-block mb-4" src="/assets/icons/icons8-tv-program-96.png"/>
						<p class="font-raleway-bold text-center">Tambah Channel</p>
						<p class="font-raleway text-center">Tambahkan beragam channel sosial media yang kamu punya dan berikan penawaran harga terbaik untuk tiap channel.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="bg-white shadow p-4">
						<img class="img-fluid mx-auto d-block mb-4" src="/assets/icons/icons8-new-job-96.png"/>
						<p class="font-raleway-bold text-center">Terima Pekerjaan</p>
						<p class="font-raleway text-center">Terima dan kerjakan langsung task endorsement dari UMKM. Diskusikan secara langsung deskripsi endorsement dengan pelikik UMKM.</p>
					</div>
				</div>
			</div>

			<div id="box-umkm-2" class="row justify-content-md-center">
				<div class="col-sm-4">
					<div class="bg-white shadow p-4">
						<img class="img-fluid mx-auto d-block mb-4" src="/assets/icons/icons8-man-holding-bags-with-money-96.png"/>
						<p class="font-raleway-bold text-center">Dapatkan Uang</p>
						<p class="font-raleway text-center">Kirim hasil dan terima pembayaran yang langsung masuk ke saldo akunmu dari setiap endorsement yang telah disetujui pemilik UMKM.</p>
					</div>
				</div>
				<div class="col-sm-4"><div class="bg-white shadow p-4">
						<img class="img-fluid mx-auto d-block mb-4" src="/assets/icons/icons8-lock-96.png"/>
						<p class="font-raleway-bold text-center">Aman & Nyaman</p>
						<p class="font-raleway text-center">Kami berikan rasa aman dan nyaman selama kamu bergabung dan mengembangkan platform sosial meduamu bersama Endorsin.</p>
					</div></div>
			</div>
		</div>
	</div>
</div>
</br>