@{
	ViewData["Title"] = "Index";
}

<div class="full-container">
	
<div class="full-container" style="background-color:#E5B323;">
	<div class="container mx-auto p-5">
		<div id="home" class="row align-items-center">
		<div class="col">
			<p class="font-poppins fs-1 text-white">PROMOSIKAN UMKM ANDA BERSAMA KAMI</p>
			<p class="font-montserrat fs-3 text-black">Temukan ribuan influencer untuk mempromosikan produk Anda dengan mudah dan instan</p>
			<a href="#" class="btn btn-primary">Daftar Sekarang</a>
		</div>
		<div class="col">
			<img class="img-fluid" src="./assets/home-illustration.png" />
		</div>
	</div>
	</div>
	
</div>

<div class="full-container my-5">
	<h2 class="font-poppins text-center my-3">3 Langkah Mudah Untuk Mempromosikan UMKM Anda</h2>
	<div class="container">
		<div id="box-steps" class="row">
		<div class="col p-2">
			<div class="bg-white shadow p-4">
				<img src="./assets/buat-campaign.png"/>
				<p class="font-raleway-bold fs-4 mt-3 text-black">Buat Campaign</p>
				<p class="font-raleway">Mulai buat campaign baru untuk menjelaskan bisnis umkm Anda dan sesuaikan budget promosi sesuain keinginan Anda.</p>
			</div>
		</div>
		<div class="col p-2">
			<div class="bg-white shadow p-4">
			<img src="./assets/pilih-influencer.png"/>
			<p class="font-raleway-bold fs-4 mt-4 text-black">Pilih Influencer</p>
			<p class="font-raleway">Pilih influencer berdasarkan rekomendasi terbaik dari kami. Komunikasikan langsung brief bisnis UMKM Anda.</p>
			</div>
		</div>
		<div class="col p-2">
			<div class="bg-white shadow p-4">
			<img src="./assets/pantau-hasil.png"/>
			<p class="font-raleway-bold fs-4 mt-3 text-black">Pantau Hasil</p>
			<p class="font-raleway">Lihat bagaimana influencer mempromosikan bisnis Anda dan lihat performa awareness yang bisa Anda dapatkan melalui dashboard.</p>
			</div>
		</div>
	</div>
	</div>
	
</div>

<div class="full-container bg-white p-4">
	<h2 class="font-poppins text-center my-3">Alasan Mengapa Anda Harus Memilih Kami</h2>
	<div id="choose-us" class="row p-5 align-items-center">
		<div class="col">
			<p class="font-montserrat">Beragam fitur menarik dan kemudahan kami sediakan dalam bagi Anda untuk mengembagkan bisnis UMKM ke tingkat yang lebih tinggi.</p>
			<div class="row">
				<div class="col-sm-1">
					<img class="img-fluid" src="./assets/badge-check.png"/>
				</div>
				<div class="col">
					<p class="font-montserrat">Atur budget dan waktu promosi sesuai keinginan Anda</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1">
					<img class="img-fluid" src="./assets/badge-check.png"/>
				</div>
				<div class="col">
					<p class="font-montserrat">Kami berikan rekomendasi influencer terbaik yang cocok dengan preferensi Anda</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1">
					<img class="img-fluid" src="./assets/badge-check.png"/>
				</div>
				<div class="col">
					<p class="font-montserrat">Pantau keberhasilan promosi Anda secara realtime</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1">
					<img class="img-fluid" src="./assets/badge-check.png"/>
				</div>
				<div class="col">
					<p class="font-montserrat">Komunikasikan langsung pekerjaan yang Anda butuhkan dengan influencer.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<img class="img-fluid" src="./assets/reason-choose-us.jpg"/>
		</div>
	</div>
</div>

<div class="full-container py-5">
	<h2 class="font-poppins text-center my-3">Apa Pendapat Mereka?</h2>
	<div class="container">
		<div id="box-testimonial" class="row">
		<div class="col p-2">
			<div class="bg-white shadow p-4">
			<p class="font-montserrat-italic text-center mb-2">“ Endorsin berhasil mempertemukan saya dengan influencer yang tepat. Saya berhasil meningkatkan popularitas bisnis UMKM sekaligus omzet hingga 20%. Terima kasih Endorsin. “</p>
			<div class="row p-2 mx-auto mt-4">
				<div class="col-4">
					<img class="img-fluid" src="./assets/testimonial-1.png"/>
				</div>
				<div class="col">
					<p class="font-montserrat-bold mb-1">Dian Sastrowardoyo</p>
					<p class="font-montserrat">Pemilik kedai Ayam Katsu</p>
				</div>
			</div>
			</div>
		</div>
		<div class="col p-2">
			<div class="bg-white shadow p-4">
			<p class="font-montserrat-italic text-center mb-2">“ Senang bekerja sama dengan ENDORSIN, service yang disediakan ENDORSIN memberikan pelayanan prima yang membuat kami tidak menemukan kesulitan yang berarti dalam melakukan promosi. “</p>
			<div class="row p-2 mx-auto mt-4">
				<div class="col-4">
					<img class="img-fluid" src="./assets/testimonial-2.png"/>
				</div>
				<div class="col">
					<p class="font-montserrat-bold mb-1">Prilly Latuconsina</p>
					<p class="font-montserrat">Pemilik Warteg Tegal Asli</p>
				</div>
			</div>
			</div>
		</div>
		<div class="col p-2">
			<div class="bg-white shadow p-4">
			<p class="font-montserrat-italic text-center mb-2">“ Overall satisfy dengan performance Endorsin yang bisa menghubungkan bisnis saya dengan influencer. Plan dan Monthly report detail dan insightful. Sigap dan cepat dalam eksekusi project yang diberikan. “</p>
			<div class="row p-2 mx-auto mt-4">
				<div class="col-4">
					<img class="img-fluid" src="./assets/testimonial-3.png"/>
				</div>
				<div class="col">
					<p class="font-montserrat-bold mb-1">Nadeo Argawinata</p>
					<p class="font-montserrat">Pemilik Toko Baju Anugerah</p>
				</div>
			</div>
			</div>
		</div>
	</div>
	</div>
	
</div>


</div>
